<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>

<div class="comment-container align-center">
  {{#if logged_in}}
    <form class="form new-comment-form" data-postId={{id}}>
      <label for="post-desc">Leave a Comment:</label>
      <textarea class="form-input" id="comment-message" name="comment-desc" rows="5"></textarea>
      <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  {{/if}}

  {{#each comments as |comment|}}
    <div class="comment-body">
      <p class="text-center comment-desc">{{comment.message}}</p>
      <p class="text-center comment-user"><span>~</span>Created by {{comment.user.name}} on {{format_date comment.date_created}}<span>~</span></p>
    </div>
  {{/each}}
</div>


<script src="/js/comments.js"></script>
